@font-face {
    font-family: 'Metroidvenia';
    src: url('/assets/fonts/metroidvenia.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Metroidvenia Simple';
    src: url('/assets/fonts/metroidvenia-normal.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Doctor Glitch';
    src: url('/assets/fonts/Doctor Glitch.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Zekton';
    src: url('/assets/fonts/Zekton-Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body{
    font-family: 'Arial', sans-serif;
    background-color:white !important;
    background-image: none;
    color: #000000;
}

body::before {
    background-color:white !important;
}


/*----------ABOUT US -----------------------*/


#about-us .team-card{
    background-color:#f8f9fa;
    border-radius: 15px;
    border: 3px solid #adb5bd;
}
#about-us .team-card:hover{
    transform: scale(1.1);
}

#about-us .text-primary{
    color: #0916ff !important;
}

#about-us .separator{
  margin-left: auto;
  margin-right: auto;
  border: 1px solid rgb(0 0 0 / 29%);
  border-radius: 15px;
  opacity: 1;
}

/*----------FFAQ -----------------------*/
.faq-container h2 button{
    font-weight: bold;
}